### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Poetry files
poetry.lock

# Virtual env files
.env
env/
pyenv/
lib/
lib64
bin/
lib64/
pyvenv.cfg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Thumb
Thumbs.db
.DS_Store
